@import "../theme";

.bout-order-container {
  display: flex;
  .bout-order-column {
    padding-left: @bout-order-column-margin;
    padding-right: @bout-order-column-margin;
    border-left: black thin dashed;
  }
}
