@import '../theme';


:host {
  display: grid;
  grid-template-areas:
    "event event event score"
    "date pool piste score";
  grid-template-columns: 1fr auto auto;
  grid-template-rows: 1fr auto;
  //position: relative;
  //min-height: @block-height;


  .header-event {
    grid-area: event;
  }


  .score-total-box {
    grid-area: score;
    font-size: 1.2em;
    width: @score-block-width - 1;
    border-right: black thin solid;
    border-left: black thin solid;
    text-align: right;
    //padding: 5px;
  }

  .header-field-date {
    grid-area: date;
  }

  .header-field-pool {
    grid-area: pool;
    padding-right: 1em;
  }

  .header-field-piste {
    grid-area: piste;
    padding-right: 2em;
  }

  .header-field{
    min-width: 5em;
    margin-left: .5em;
  }
}
