<div class="pool-sheet-page">
  <div class="main-column">
    <div class="sheet-header">
      <div class="score-total-box">V&nbsp;&nbsp;/D&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="header-field header-event">Event:</div>
      <div class="header-field">Date: </div>
      <div class="header-field">Piste/Pool:</div>
    </div>
    <div *ngFor="let x of opponents;  let i=index">
      <bout-block [index]="i"></bout-block>
    </div>

  </div>
  <bout-orders class="bout-order-column"></bout-orders>

</div>
