@import '../theme.less';

.pool-sheet-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-basis: available;

  .main-column {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-basis: max-content;

    .page-block {
      flex: 1;
      //min-height: @block-height;
    }

    bout-block {
      border-top: black thin solid;
    }
  }

  .bout-order-column {
    flex: 0 1 auto;
  }

}

.inline-block {
  display: inline-block;
}
